@mixin p($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@import "webfonts";
$font-body: 30px;
$font-head: 18px;
$font-subhead: 14px;

// General
body {
  color: black;
  padding: 0;
  margin: 0;
  font-size: $font-head;
  line-height: 1.4em;
  padding: 0;
  letter-spacing: -0.01em;
  width: 100%;
  height: 100%;
  @include p(font-smoothing, antialiased);
}

h1 {
  font-size: $font-head;
  letter-spacing: 0.035em;
  font-weight: normal;
  font-family: "UniversLTPro-55Roman", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 5px;
}

h2 {
  font-size: $font-head;
  font-weight: normal;
  font-family: "UniversLTPro-55Roman", Arial, Helvetica, sans-serif;
}

h3 {
  font-size: $font-subhead;
  letter-spacing: 0.055em;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "UniversLTPro-55Roman", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.5;
  }
}

section {
  font-family: Times, serif;
  font-size: $font-body;
  letter-spacing: 0.015em;
  p {
    line-height: 1.4em;
    margin: 0;
    max-width: 30em;
  }
}

// Header
header {
  z-index: 1000;
  width: calc(50vw - 75px);
  margin: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 1em;
  color: #000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-radius: 10px;
  top: 0;
  left: 0;
  @include p(transition, all 200ms ease);

  .bg {
    top: 0;
    left: 0;
    z-index: -100;
    border-radius: 30px;
    filter: blur(15px);
    position: absolute;
    background-color: #fff500;
    @include p(transition, all 00ms ease);
    height: 100%;
    width: 100%;
  }

  h1.contact {
    display: block;
    margin: 10px;
    
    &.first {
      margin-top: 30px;
    }
    &.fade {
      display: none;
    }
  }
}

// Layout
section {
  margin: 30px;
  padding: 30px 0;
  position: relative;
  &:first-of-type {
    margin-top: 280px;
  }
  .bg {
    top: 0;
    left: 0;
    z-index: -100;
    border-radius: 10px;
    filter: blur(10px);
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
  }
}
