@mixin p($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@import "webfonts";
$font-lg: 30px;
$font-md: 20px;
$font-sm: 18px;
// General
body {
  color: black;
  padding: 0;
  margin: 0;
  font-family: "LifeT-ReguRo1", serif;
  font-size: $font-md;
  line-height: 1.5em;
  padding: 0;
  letter-spacing: 0.015em;
  width: 100%;
  height: 100%;
  @include p(font-smoothing, antialiased);
}

h1 {
  font-family: 'Life-Reg', serif;
  font-size: $font-lg;
  line-height: 1.2em;
  margin: 4px 10px 0 0;
  width: 26em;
  font-weight: normal;
  b {
    font-family: 'Life-Bol', 'Times New Roman', Times, serif;
    font-weight: normal;
  }
}

h2 {
  font-family: 'UniversLTPro-55Roman', Arial, Helvetica, sans-serif;
  font-size: $font-sm;
  margin: 25px 0 5px;
  line-height: 1em;
  letter-spacing: 0.015em;
  font-weight: normal;
  text-align: left;
}

a,
li {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.2;
  }
}

p {
  margin: 10px 0;
  max-width: 32em;
}

// Layout
header {
  z-index: 1000;
  width: calc( 100vw - 160px);
  min-height: calc( 100vh - 140px);
  padding: 75px 80px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  @include p(transition, all 200ms ease);
  &.fade {
    opacity: 0;
    pointer-events: none;
    @include p(transition, all 200ms ease);
  }
}

p.contact {
  max-width: 100%;
}
a.contact {
  margin: 0 0 0 30px;
  width: 100%;
}

.menu {
  position: fixed;
  top: 55px;
  right: 60px;
  z-index: 2000;
  text-align: right;
  cursor: pointer;
  h1 {
    margin: 4px 0 0 0;
  }
  h1.open::after {
    content: "Info";
  }
  h1.close::after {
    content: "Close";
    color: white;
  }
}

section {
  margin: 120px 60px 0;
  padding-top: 30px;
  position: relative;
  &:first-of-type {
    margin-top: 100vh;
  }
  .slider {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 20px 0 40px;
    display: block;
    position: relative;
    .controls {
      position: absolute;
      z-index: 10;
      width: 100%;
      top: 0px;
      bottom: 0px;
      display: flex;
      align-self: stretch;
      .prev {
        height: 100%;
        width: 50%;
        cursor: w-resize;
      }
      .next {
        height: 100%;
        width: 50%;
        cursor: e-resize;
      }
    }
    .slide {
      display: none;
      &.show {
        display: block;
      }
      img {
        margin: auto;
        display: block;
        height: 70vh;
        max-height: 1000px;
        width: auto;
        margin: 0 auto 10px;
      }
      .info {
        display: flex;
        justify-content: center;
        h2 {
          text-align: center;
          margin: 0 10px;
        }
      }
      
    }
  }
}

@media screen and (max-width: 800px) {
  // body {
  //   font-size: 4vh;
  // }
}

.bg {
  position: fixed;
  border: 3px solid #faf1e4;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px); // border: 1px solid black;
  border-radius: 60px;
  margin: 20px;
  z-index: -100;
  top: 0;
  left: 0;
}