@mixin p($property, $val) {
    -webkit-#{$property}: $val;
    -moz-#{$property}: $val;
    -ms-#{$property}: $val;
    #{$property}: $val;
}

@import "webfonts";

$font-lg: 26px;
$font-sm: 20px;

// General
body {
    color: black;
    padding: 0;
    margin: 0;
    font-family: "LifeT-ReguRo1", serif;
    font-size: $font-sm;
    line-height: 1.34em;
    letter-spacing: -0.02rem;
    padding: 0;
    @include p(font-smoothing, antialiased);
    &.home {
      background-color: #51461F;
    }
}

h1 {
  font-family: 'Life-Reg';
  font-size: $font-lg;
  line-height: 1.3em;
  margin: 0;
  font-weight: normal;
  b {
    font-family: 'Life-Bol';
    font-weight: normal;
  }
}

h2 {
  font-family: 'LifeSC-Reg';
  font-size: $font-sm;
  line-height: 1em;
  margin: 30px 0 5px 0;
  font-weight: normal;
  letter-spacing: 0.03rem;
  text-transform: lowercase;
  text-align: left;
}

a, li {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.2;
    }
}

p {
  margin: 0;
  max-width: 36em;
}

.bg {
  width: 92vw;
  height: 92vh;
  position: fixed;
  top: 4vh;
  right: 4vw;
  border: 3px solid black;
  border-radius: 50%;
  box-shadow: 5px 10px;
  z-index: -100;
}


// Layout

header {
  z-index: 100;
  top: 0;
  padding: 20px;
  position: absolute;
  height: calc(100vh - 40px);
  p a {
    text-decoration: none;
    &:hover {
      letter-spacing: -0.02rem;
    }
  }
  p, li {
    pointer-events: auto;
    width: auto;
    font-size: $font-lg;
    line-height: 1.3em;
    max-width: 26em;
  }
  ul {
    padding: 0;
    margin: 0 0;
    list-style: none;
  }
  .contact {
    position: absolute;
    bottom: 15px;
    p {
      display: inline-block;
      margin-right:40px; 
    }
  }
  // .links a {
  //   display: block;
  // }
}



section {
  margin: 20px;
  &:first-of-type {
    margin-top: calc(100vh + 100px);
  }
  img {
    margin: auto;
    height: 70vh;
    width: 100%;
    background-color: blue;
  }
}




@media screen and (max-width: 800px) {
  // body {
  //   font-size: 4vh;
  // }
}

