/*Type*/
html {
    overflow: hidden;
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'LifeT-ReguRo1', serif;
  font-size: 26px;
  text-align: center;
  color: black;
  letter-spacing: 0.03em;
  line-height: 1.2;
  height: 100%;
  overflow: auto;
}
p {
  margin: 0 0 5px;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-shadow: 0px 0px 6px grey;
}


/*Nav*/

.info {
  position: fixed;
  margin: 20px 20px 25px;
  top: 0;
  width: calc(50vw - 20px);
  text-align: center;
}


/*main*/
.main {
  text-align: center;
  margin-top: 70px;
  width: 100%;
}
img {
  height: calc(100vh - 90px);
  text-align: center;
  margin: 0 auto 50px;
  padding: 0 10px;
  z-index: -100;
  position: relative;
  display: block;
}
.caption {
  margin-top: 30px;
  margin-bottom: 90px;
}
.block {

  width: 100%;
}

.sss {
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: auto;
	margin: auto;
	padding: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 50%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;

}

.sssprev {
	left: 0;
	background-position: 0 50%;
}

.sssnext {
	right: 0;
	background-position: -26px 50%;
}

.sssprev, .sssprev:hover {
	 cursor: url('/assets/LeftArrow.png'), w-resize;
   cursor: -webkit-image-set( url('/assets/LeftArrow.png') 1x, url('/assets/LeftArrow2x.png') 2x), w-resize;
}

.sssnext, .sssnext:hover {
  cursor: url('/assets/RightArrow.png'), e-resize;
  cursor: -webkit-image-set( url('/assets/RightArrow.png') 1x, url('/assets/RightArrow2x.png') 2x), e-resize;
}

@media only screen and (max-device-width: 480px){
.info {
  width: 100%;
}
}
